{% extends "base.html" %}
{% load static %}

{% block title %}OTP Verification{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/otp.css' %}">

<div class="otp-container">
    <form action="" method="post">
        {% csrf_token %}
        <h2>Enter OTP</h2>
        <div class="otp-inputs">
            <input type="text" name="otp1" required>
            <input type="text" name="otp2" required>
            <input type="text" name="otp3" required>
            <input type="text" name="otp4" required>
        </div>

        <button type="submit">Verify</button>
    </form>
</div>
{% endblock %}
