/* body {
    background: linear-gradient(120deg, #5a5555, #af8787); 
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
} */
body {
    margin: 0;
    padding: 0;
    background: url('../image/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}



.form-container {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(255, 0, 0, 0.2);
}

.form-container h2 {
    text-align: center;
    color: #990000;
    margin-bottom: 20px;
}

form p {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #cc0000; 
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff4d4d; 
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 15px;
}

form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff4d4d;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

form input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #e60000; 
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #cc0000; 
}
